{
    "plugins": [
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ],
        [
            "wildcard",
            {
                "exts": ["js", "es6", "es", "jsx", "jpg"]
            }
        ],
        ["transform-object-rest-spread"]
    ]
}